* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Poppins", system-ui, sans-serif;
  background-color: #f9f9f9;
}

img {
  height: 150px;
  width: 150px;
  margin-bottom: 1.5rem;
  max-width: 100%;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}

main h1 {
  margin-bottom: 2rem;
  text-align: center;
}

main h1 span {
  position: relative;
}

main h1 span::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: dodgerblue;
}

.main-container {
  width: min(600px, 100%);
  margin-inline: auto;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 0.5rem;
}

.main-container .name {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.main-container .job {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: dodgerblue;
}

.review p {
  margin-bottom: 2rem;
  text-wrap: balance;
  line-height: 1.5;
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btn-wrapper > button {
  height: 2em;
  width: 2em;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  border-radius: 50%;
  cursor: pointer;
}

.btn-wrapper > button:hover {
  background-color: hsl(210, 100%, 95%);
}

@media (width <= 650px) {
  body {
    padding-inline: 1.25rem;
  }
}
